.page-header {
  font-family: Aachen;
  src: url("../fonts/Aachen-Regular-font.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Aachen;
}
/* varable create  */
:root {
  --primary-color: #1d1d23;
  --nav-hover: #c28b36;
  --orange: #e58f00;
  --white: #ffffff;
  --overlay: #28282d;
  --footer-bg: #35353b;
}
/* common css code start */
body {
  background: var(--primary-color);
}
.container {
  max-width: 1180px;
  width: 100%;
  margin: auto;
}
ul {
  list-style: none;
}
li {
  display: inline;
}
a {
  text-decoration: none;
  color: var(--white);
}
/* common css code end */

/* header code start  */
.header {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.header::after {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--overlay);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
  z-index: -1;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  z-index: 5;
}
.navbar .navlinks ul li {
  margin: 0 25px;
}
.navbar .navlinks ul li a:hover {
  color: var(--nav-hover);
}
.navbar .logo img {
  height: 80px;
  width: 100px;
}
.header-content {
  padding: 120px 0;
  display: flex;
  justify-content: space-between;
}
.header-content .image-container {
  width: 45%;
  margin-right: 10rem;
}
.header-content .content {
  width: 50%;
}
.header-content .content .title {
  font-size: 67px;
  color: var(--orange);
}
.header-content .content .description {
  font-size: 25px;
  color: var(--white);
  margin-top: 40px;
}
.contact-btn {
  font-size: 25px;
  margin-top: 35px;
  padding: 25px 40px;
  background: var(--orange);
  border: none;
  border-radius: 0.3rem;
}
/* header code end  */
/* about us code start  */
.about-us .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
}
.about-us .container .info {
  margin-left: 50px;
}
.about-us .container .info .title {
  font-size: 50px;
  color: var(--white);
}
.about-us .container .info .description {
  font-size: 34px;
  color: var(--white);
}
/* about us code end  */
/* food quality start */
.food-quality {
  background: url("../images/food-img.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.quality-info {
  padding-top: 500px;
  padding-bottom: 1000px;
  width: 55%;
}
.quality-info .title {
  font-size: 50px;
  color: var(--white);
}
.quality-info .description {
  font-size: 34px;
  color: var(--white);
}
/* food quality end */
/* food gallery start  */
.food-gallery .container .title {
  color: var(--white);
  font-size: 50px;
  text-align: center;
}
.food-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 100px;
}
.food-card .card {
  margin: 0 50px 30px 0;
}
.food-card .card img {
  width: 100%;
}
/* food gallery end */
/* enjoy our food start  */
.enjoy-food {
  background: url("../images/food-img1.png");
  background-repeat: no-repeat;
  padding: 200px;
  background-size: cover;
}
.enjoy-food .container .content {
  width: 88%;
  padding: 80px 100px;
  border: 10px solid var(--orange);
  background: var(--overlay);
  opacity: 0.9;
}
.enjoy-food .container .content .title {
  color: var(--white);
  font-size: 50px;
  text-align: center;
}
.enjoy-food .container .content .description {
  font-size: 34px;
  color: var(--white);
  text-align: center;
  margin-top: 45px;
}
/* enjoy our food end  */
/* our manu start  */
.manu-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 100px;
}
.manu-card .card {
  margin-left: 40px;
}
.manu-card .card .title {
  font-size: 25px;
  color: var(--orange);
  margin-top: 20px;
}
.manu-card .card .description {
  font-size: 16px;
  color: var(--white);
  margin-top: 25px;
}
.manu-card .card .price {
  font-size: 25px;
  color: var(--orange);
  margin-top: 25px;
}
.manu-card .card img {
  width: 100%;
}
/* our manu end */
/* best meal start  */
.meal-info {
  background: var(--orange);
  height: 500px;
  margin-top: 100px;
}
.meal-info .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.meal-info .container .image-container {
  margin-right: 5rem;
  margin-top: -4rem;
  margin-left: -10rem;
}
.meal-info .container .info {
  margin-top: -4rem;
  color: var(--white);
  width: 70%;
}
.meal-info .container .info .title {
  font-size: 50px;
}
.meal-info .container .info .description {
  font-size: 34px;
}
/* best meal end  */
/* footer start  */
.footer {
  background: var(--footer-bg);
  padding: 70px 0;
}
.footer .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer .container .logo {
  display: flex;
  justify-content: center;
}
.footer .container .logo {
  display: flex;
  justify-content: center;
}
.footer-link {
  text-align: center;
  margin-top: 60px;
}
.footer-link ul li {
  margin-right: 25px;
}
.footer-link ul li a {
  font-size: 20px;
  font-weight: bold;
}
.footer-social-icon {
  margin-top: 40px;
  text-align: center;
}
.footer-social-icon ul li {
  margin-right: 20px;
}
/* footer end */
